<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Open Flash Charts" xmlns:pen="http://www.pentaho.org/2008/xul" >

    <!-- note, the content-generator should be replaced with a static content 
         mapping in future releases of the platform -->
    <content-generator id="openflashchart" type="ofc" 
    	title="hosts swf files" 
    	classname="com.google.code.pentahoflashcharts.StaticContentGenerator"/>

    <content-generator id="openflashchart" type="ofc" url="">
        <classname>com.google.code.pentahoflashcharts.StaticContentGenerator</classname>
        <title>hosts swf files</title>
    </content-generator>

    <bean id="OpenFlashChartComponent" class="com.google.code.pentahoflashcharts.OpenFlashChartComponent"/>
</plugin>